<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение человека</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.id})}" th:object="${person}">
    <label for="name">Enter full name: </label>
    <input  type="text" th:field="*{fullName}" placeholder="fullName"/>
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Ошибка ФИО</div>
    <br/>
    <label for="age">Enter year of birth</label>
    <input type="text" th:field="*{yearOfBirth}" placeholder="yearOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Ошибка года рождение</div>
    <br/>
    <input  type="submit" value="Update"/>
</form>
</body>
</html>