<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<p th:text="${person.fullName + ', ' + person.yearOfBirth}">Полное имя и год рождение</p>

<h3>Книги, которые на руках:</h3>

<!-- если книг нет -->
<div th:if="${#lists.isEmpty(books)}">
    <p>📭 У этого человека нет книг.</p>
</div>

<!-- если книги есть -->
<ul th:if="${!#lists.isEmpty(books)}">
    <li th:each="book : ${books}" th:style="${book.expired} ? 'color:red;' : ''">
        <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.name}">Название</a>
        <span th:text="', ' + ${book.author} + ', ' + ${book.year}"></span></li>
</ul>

<br/>
<a href="/people">⬅ Назад к списку людей</a>

<hr/>
<form th:action="@{/people/{id}/edit(id=${person.id})}">
    <input type="submit" value="Редактировать!"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}/delete(id=${person.id})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>